config FINGERPRINT_MI_FP
	tristate "Finger print card mi_fp"
	default n
	help
	  Say Y here to enable support for mi_fp fingerprint driver.
	  If unsure, say N.
	  To compile this driver as a module, choose M here.

config FP_HAVE_MULTI_SCREEN
	bool "Have multi screen"
	default n
	help
	  Enable register two screen in driver

config SIDE_FINGERPRINT
	bool "Side fingerprint"
	default n
	help
	  Side fingerprint configuration

config FINGERPRINT_FP_VREG_CONTROL
	bool "fingerprint fp_vdd_reg regulator control"
	default n
	help
	  Say Y here to enable fp_vdd_vreg regulator by device driver
